<div class="modal__alert hide">
    <div class="modal__alert-content">
        <h3 class="modal__alert-content_title"></h3>
        <span class="modal__alert-content_about">Узнать подробности>></span>
        <div class="modal__alert-info hide">
            <h4>Для корректной работы поиска убедитесь, что :</h4>
            <ul>
                <li>Поисковый запрос не пустой;</li>
                <li>Количество символов в поисковом запросе не превышает 25;</li>
                <li>Не рекомендуется использование специальных символов, отличных от знаков препинания и букв.</li>
            </ul>
        </div>
        <div class="cross__alert">
            <span></span>
            <span></span>
        </div>
    </div>
</div>