.modal__alert {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 111;
    background-color:rgba(15, 15, 15, 0.7); 
    @media screen and (max-width: 576px) {
        transition: all 600ms cubic-bezier(0.25, 0, 0.07, 0.86);
    }
}

.modal__alert-content {
    position: relative;
	width: 750px;
    min-width: 576px;
    min-height: 100px;
	max-height: 576px;
    padding: 35px 55px ;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #030303;
	margin: 0 200px;
    @media screen and (max-width: 576px) {
        min-width: 100vw;
        min-height: auto;
        padding: 35px;
        font-size: 12px;
    }
}

.modal__alert-content_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.modal__alert-content_about {
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.modal__alert-content_about:hover {
    color: rgb(246, 221, 80);
}

.modal__alert-info ul {
    list-style-type: disc;
    width: 100%;
}

.modal__alert-info li {
    padding: 5px 0;
}

.modal__alert-info h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.cross__alert {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all ease .5s;
    @media screen and (max-width: 576px) {
        top: 0;
        right: 0;
    }
}

.cross__alert span {
    height: 1px;
    display: block;
    float: left;
    transition: all ease .3s;
}

.cross__alert span:nth-child(1) {
    background-color: rgb(46, 46, 46);
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}

.cross__alert span:nth-child(2) {
    background-color: rgb(46, 46, 46);
    transform: rotate(-45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}