<div class="main-content">
    <div class="not-found hide"></div>
    <section class="tv-shows">
        
        <div class="tv-shows__heading">
            <h3 class="tv-shows__heading-info">Новинки кино</h3>
        </div>

        <div class="tv-shows__list"></div>

        <div class="view_more">
            <button class="view_more-button">
                <span class="view_more-button_sign"></span>
                <div class="view_more-button_title">
                    <span>Загрузить еще</span>
                </div>
            </button>
        </div>
    </section>
</div>