.main-content {
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        width: 100vw;
    }
}

.tv-shows {
    padding: 0 20px;
    margin-top: 35px;
    width: 100%;
    @media screen and (max-width: 576px) {
        padding: 0 5px;
    }

    &__heading {
        position: relative;
        margin: 30px auto 40px;
        text-align: center;

        &:before {
            position: absolute;
            top: 15px; 
            left: 0; 
            bottom: 0; 
            right: 0;
            margin: auto;
            z-index: -1;
            content: "";
            height: 90px;
            width: 300px;
            background-image: url(../img/brush.png);
            background-size: contain;
            background-repeat: no-repeat;
            @media screen and (max-width: 576px) {
                height: 75px;
                width: 250px;
            }
        }
        
        &-info {
            display: inline-block;
            margin: 0 auto;
            font-weight: 400;
            white-space: nowrap;
            @media screen and (max-width: 576px) {
                font-size: 16px;
            }
        }
    }
}


/* карточки */
.tv-shows__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
    @media screen and (max-width: 576px) {
        grid-template-columns: repeat(auto-fill, 150px);
        grid-column-gap: 10px;
        grid-row-gap: 10px; 
    }
}

.tv-shows__item {
    min-width: 220px;
    margin: 0;
    z-index: 5;
    overflow: hidden;
    @media screen and (max-width: 576px) {
        min-width: 150px; 
    }
    @media screen and (min-width: 577px) {
        &:hover{
            transform: scale(1.05);
            transition-duration: 0.75s;
        }
    }
}

.tv-card {
    position: relative; 
    max-width: 220px;
    min-height: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 576px) {
        min-width: 150px; 
        min-height: 300px;
    }

    &__head {
        color: #000;
        padding: 5px;
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }

    &__info {
        color: #000;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: rgb(61, 56, 56);
        font-weight: 200;
        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }

    &__top-vote, &__middle-vote, &__low-vote {
        position: absolute;
        top: 18px;
        left: 0;
        text-align: center;
        color: #FFFFFF;
        height: 25px;
        width: 44px;
        display: inline-block;
        line-height: 25px;
        font-weight: 400;
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }

    &__top-vote {
        background-color: #27db03;
    }

    &__middle-vote {
        background-color: #a59d9e;
    }

    &__low-vote {
        background-color: #f00d33;
    }

    &__img {
        height: auto;
        min-width: 215px;
        border-radius: 10px 10px 0 0;
        @media screen and (max-width: 576px) {
            min-width: 150px; 
        }
    }
}

/* оповещение: фильмы не найдены */
.not-found {
    width: 100%;
    padding: 50px 0;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 576px) {
        padding: 20px 5px;
    }
    @media screen and (max-width: 375px) {
        padding: 20px 20px;
    }
}

/* кнопка Загрузить еще */

.view_more {
    display: flex;
    justify-content: center;
    padding: 0 0 25px;

    &-button {
        position: relative;
        display: flex;
        align-items: center;
        background-color:rgb(246, 221, 80);
        width: 150px;
        height: 45px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        padding: 0;

        &_sign {
            display: block;
            float: left;
            height: 20px;
            width: 20px;
            background-image: url(../img/refresh.svg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 5px;
            margin-left: 10px;
           
        }

        &_title {
            display: block;
            font-size: 14px;
        }
    }
}