.main-content {
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        width: 100vw;
    }
}

.tv-shows {
    padding: 0 20px;
    width: 100%;
    @media screen and (max-width: 1024px) {
        margin-top: 35px; 
    }
}

.tv-shows__heading {
    position: relative;
    margin: 30px auto 40px;
    text-align: center;
}

.tv-shows__heading-info {
    display: inline-block;
    margin: 0 auto;
    font-weight: 400;
    white-space: nowrap;

}

.tv-shows__heading:before {
    position: absolute;
    top: 15px; 
    left: 0; 
    bottom: 0; 
    right: 0;
    margin: auto;
    z-index: -1;
    content: "";
    height: 90px;
    width: 300px;
    background-image: url(../img/brush.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* карточки */
.tv-shows__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-around;
}

.tv-shows__item {
    min-width: 215px;
    margin: 0;
    z-index: 5;
}

.tv-shows__item:hover{
    transform: scale(1.05);
    transition-duration: 0.75s;
}

.tv-card {
    position: relative; 
    max-width: 215px;
    min-height: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 10px;
}

.tv-card__head {
    color: #000;
    padding: 5px;
}

 .tv-card__info {
    color: #000;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(61, 56, 56);
    font-weight: 200;
 }

.tv-card__top-vote, .tv-card__middle-vote, .tv-card__low-vote {
    position: absolute;
    top: 18px;
    left: -10px;
    text-align: center;
    color: #FFFFFF;
    height: 25px;
    width: 44px;
    display: inline-block;
    line-height: 25px;
    font-weight: 400;
}

.tv-card__top-vote {
    background-color: #27db03;
}

.tv-card__middle-vote {
    background-color: #a59d9e;
}

.tv-card__low-vote {
    background-color: #f00d33;
}

.tv-card__img {
    height: auto;
    width: 215px;
    border-radius: 10px 10px 0 0;
}

.tv-card__img-modal {
    height: auto;
    width: 215px;
}


.not-found {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-weight: 700;
    margin-left: 50px;
}

/* кнопка Загрузить еще */
.view_more {
    display: flex;
    justify-content: center;
    padding: 25px 0 25px;
}
.view_more-button {
    position: relative;
    display: flex;
    align-items: center;
    background-color:rgb(246, 221, 80);
    width: 175px;
    height: 45px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    padding: 0;
}

.view_more-button_sign {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    background-image: url(../img/refresh.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 5px;
   
}

.view_more-button_title {
    display: block;
}