<div class="modal modal-hide">
    <div class="modal__content">
        <div class="modal__wrapper">
            <div class="modal__heading">
                <h2 class="modal__title"></h2>
                <h3 class="modal__title_eng"></h3>
            </div>

            <div class="modal__poster">
                <img class="modal__poster-image" src="img/no-poster.jpg" alt="Название шоу">
            </div>
            <div class="modal__description">
                <div class="modal__genres">
                    <h3>Жанр:</h3>
                    <ul class="genres-list">
                    </ul>
                </div>
                <div class="modal__rating">
                    <h3>Рейтинг</h3>
                    <span class="rating"></span>
                </div> 
            </div>
            <div class="modal__overview">
                <h3 dir="auto">Обзор: </h3>
                <div class="overview">
                    <p class="description"></p>
                </div>
            </div>
        </div>
        <div class="cross">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
</div>