.modal {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 111;
    background-color:rgba(15, 15, 15, 0.7); 
    @media screen and (max-width: 576px) {
        transition: all 600ms cubic-bezier(0.25, 0, 0.07, 0.86);
    }
}

.modal-hide {
    top: 130%;
}

.modal__content {
    position: relative;
    display: flex;
	min-width: 576px;
    max-width: 800px;
    min-height: 400px;
	max-height: 600px;
    padding: 20px 35px 15px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #030303;
	margin: 0 200px;
    @media screen and (max-width: 576px) {
        min-width: 100vw;
        min-height: 100vh;
        padding: 20px 5px 15px;
    }
}

.modal__wrapper {
    display: grid; 
    grid-template-areas: "heading heading"  
                         "image content"
                         "image overview" ; 
    grid-auto-rows: minmax(50px, auto); 
    grid-template-columns: 30% 70%;
    @media screen and (max-width: 576px) {
    grid-template-areas: "heading heading"  
                        "image content"  
                        "overview overview"; 
    grid-template-rows:  65px 180px auto; 
    grid-template-columns: 40% 60%;
    }
} 

.modal__content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 800;
    @media screen and (max-width: 576px) {
        font-size: 18px;
    }
}

.modal__content h3 {
    font-size: 16px;
    font-weight: 700;
}

.modal__heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
    }
}

.modal__poster {
    grid-area: image;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

.modal__poster-image {
    width: 100%;
    box-shadow: 2px 2px 5px 1px rgba(53, 117, 184, 0.49);
    @media screen and (max-width: 576px) {
        width: auto;
        height: 100%; 
    }
}

.modal__description {
    padding: 0 15px;
}

.modal__genres, .modal__rating {
    margin: 10px 0;
}

.modal__overview {
    margin: 10px 0;
    padding: 0 15px 15px;
    @media screen and (max-width: 576px) {
        grid-area: overview; 
        padding: 0 5px 15px 20px; 
    }
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all ease .5s;
    @media screen and (max-width: 576px) {
        top: 87%;
        left: 50%;
    }
}

.cross span {
    height: 1px;
    display: block;
    float: left;
    transition: all ease .3s;
}

.cross span:nth-child(1) {
    background-color: rgb(46, 46, 46);
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}

.cross span:nth-child(2) {
    background-color: rgb(46, 46, 46);
    transform: rotate(-45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}

.cross span:nth-child(3) {
    display: none;
    @media screen and (max-width: 576px) {
        display: block;
        position: absolute;
        top: 25%;
        left: -200%;
    }
}