.modal {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 111;
    background-color:rgba(15, 15, 15, 0.7);
    @media screen and (max-width: 576px) {
        transition: all 600ms cubic-bezier(0.25, 0, 0.07, 0.86);
        top: 10%;
        background-color:transparent;
    }

    &-hide {
        top: 130%;
        @media screen and (max-width: 576px) {
            top: 130%;
        }
    }
}

.modal__content {
    position: relative;
    display: flex;
	min-width: 570px;
    max-width: 800px;
    min-height: 400px;
	max-height: 600px;
    padding: 20px 35px 15px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #030303;
	margin: 0 200px;
    @media screen and (max-width: 576px) {
        min-width: 100vw;
        min-height: 100%;
        padding: 20px 5px 15px;
        border-radius: 15px 15px 0 0;
        box-shadow: 0 -3px 5px rgb(46, 46, 46);
    }
}

.modal__wrapper {
    display: grid; 
    grid-template-areas: "heading heading"  
                         "image content"
                         "image overview"
                         "image overview" ; 
    grid-auto-rows: minmax(50px, auto); 
    grid-template-columns: 185px auto;
    @media screen and (max-width: 576px) {
    grid-template-areas: "heading heading"  
                        "image content"  
                        "overview overview"; 
    grid-template-rows:  65px 170px auto; 
    grid-template-columns: 120px auto;
    margin: 0 auto;
    }
} 

.modal__content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 800;
    @media screen and (max-width: 576px) {
        font-size: 18px;
    }
}

.modal__content h3 {
    font-size: 16px;
    font-weight: 700;
}

.modal__heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
    }
}

.modal__poster {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal__poster-image {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px 1px rgba(53, 117, 184, 0.49);
    @media screen and (max-width: 576px) {
        width: auto;
        height: 100%; 
    }
}

.modal__description {
    padding: 0 15px;
    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.modal__genres {
    margin: 10px 0;
    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.modal__overview {
    grid-area: overview;
    margin: 10px 0;
    padding: 0 15px 15px;
    @media screen and (max-width: 576px) {
        grid-area: overview; 
        padding: 5px; 
        font-size: 12px;
    }
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all ease .5s;
    @media screen and (max-width: 576px) {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(46, 46, 46);
        top: 75%;
        left: 80%;
    }
    @media screen and (min-width: 576px) {
        &:hover {
            .cross__span {
                background-color:rgb(216, 44, 44);
            }
        }
    }
}

.cross span {
    height: 1px;
    display: block;
    float: left;
    transition: all ease .3s;

}

.cross span:nth-child(1) {
    background-color: rgb(46, 46, 46);
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
    @media screen and (max-width: 576px) {
        width: 70%;
        left: 6px;
    }
}

.cross span:nth-child(2) {
    background-color: rgb(46, 46, 46);
    transform: rotate(-45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
    @media screen and (max-width: 576px) {
        width: 70%;
        left: 6px;
    }
}
