.modal, .modal__alert {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 990;
    background-color:rgba(15, 15, 15, 0.7);
}

.modal__content {
    position: relative;
	min-width: 550px;
    max-width: 800px;
    min-height: 400px;
	max-height: 550px;
    padding: 35px 35px 35px 35px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #030303;
	margin: 0 200px;
    @media screen and (max-width: 576px) {
        min-width: 100vw;
    }
}

.modal__content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.modal__content h3 {
    font-size: 16px;
    font-weight: 700;
}

.modal__wrapper {
    display: grid;
    grid-template-columns: 200px auto
} 

.modal__poster {
    display: flex;
    justify-content: center; 
}

.modal__description {
padding-left: 25px;
}

.modal__description section {
    margin-top: 15px;
}

.image__content {
    width: 185px;
    height: 278px;
    box-shadow: 2px 2px 5px 1px rgba(53, 117, 184, 0.49);
}

.cross, .cross__alert {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all ease .5s;
}

.cross span, .cross__alert span {
    height: 1px;
    display: block;
    float: left;
    transition: all ease .3s;
}

.cross span:nth-child(1),
.cross__alert span:nth-child(1) {
    background-color: rgb(46, 46, 46);
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}

.cross span:nth-child(2),
.cross__alert span:nth-child(2) {
    background-color: rgb(46, 46, 46);
    transform: rotate(-45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all ease .5s;
}