.preloader-loading{
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5) url(../img/preloader.svg) center center no-repeat;
    background-size:41px;
}