.header {
    background-color: rgb(145, 146,150);
    padding-bottom: 20px;
    &__container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 30px 0;
        flex-wrap: wrap;
        @media screen and (max-width: 1024px) {
            width: 100vw;
            padding: 40px 30px 0;
        }
        @media screen and (max-width: 768px) {
            padding: 20px 10px 0;
        }
        @media screen and (max-width: 576px) {
            padding: 0 10px 0;
        }
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    height: 70px;
    min-width: 250px;
    @media screen and (max-width: 360px) {
        margin-right: 0;
        min-width: 200px;
    }
    &__logo {
        height: 60px;
        min-width: 60px;
        background-image: url(../img/clapper.svg);
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 576px) {
            height: 45px;
            min-width: 45px; 
        }
    }
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        margin-left: 15px;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        
    }
}

/* меню */

.menu {
    background-color: transparent;
    position: relative;
    z-index: 100;
    max-width: 135px;
    margin-right: 20px;

    @media screen and (max-width: 576px) {
        order: -1; 
    }

    &__block {
        width: 100%;
        height: 45px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 15px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        min-width: 45px;
        padding: 0;
        border: none;
        border-radius: 4px;
        background-color: rgb(246, 221, 80);
        cursor: pointer;
        outline: none;
    }
    &__title {
        padding: 10px 5px 10px 10px;
        @media screen and (max-width: 768px) {
            display: none; 
        }
    }
    &__hamburger {
        width: 40px;
        height: 40px;
        background-color: transparent;
        position: relative;
        overflow: hidden;
        text-align: center;
        transform: rotate(0deg);
        span {
            display: block;
            position: absolute;
            width: 60%;
            height: 2px;
            top: 19px;
            left: 8px;
            right: 8px;
            background: black;
            transition-property: background-color;
            transition-duration: 0.3s;
            transition-delay: 0s;
            transition-timing-function: ease-in;
        }
    }

}

/* позиционрирование элементов гамбургера */
.hamburger span {
    display: block;
    position: absolute;
    width: 60%;
    height: 2px;
    top: 19px;
    left: 8px;
    right: 8px;
    background: black;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
   
.menu__hamburger span::before,
.menu__hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    content: "";
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.2s, 0s;

}

.menu__hamburger span::before {
    top: -6px;
    transition-property: top, transform;
}
   
.menu__hamburger span::after {
    bottom: -6px;
    transition-property: bottom, transform;
}

/* анимация элементов гамбургера при добавлении класса open */

.menu__hamburger.open span::before,
.menu__hamburger.open span::after {
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0s, 0.3s;
}

.menu__hamburger.open span {
    transition-duration: 0.2s;
    background-color: transparent;
    transition-delay: 0s;
}

.menu__hamburger.open span::before {
    top: 0;
    transform: rotate(45deg);
}
 
.menu__hamburger.open span::after {
    bottom: 0;
    transform: rotate(-45deg);
}
  
/* раскрывающееся меню */

.menu__list {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50px;
    width: 155px;
    height: 135x;
    list-style: none;
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 3px; 
    transform: translateY(10px);
    transition: all .3s ease;
}

.menu__list__hidden {
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
 
}

.menu__list li:hover {
    background-color: rgb(245, 245, 245);
}

.movie, .tv, .actors, .reviews {
    width: 100%;
    height: 30px;  
    font-size: 15px;
    padding-left: 35px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.movie span, .reviews span, .tv span, .actors span {
    position: relative;
    padding-left: 5px;
    width: 100%;
}

.movie span::before {
    display: block;
    position: absolute;
    left: -25px;
    top: -5px;
    height: 24px;
    width: 24px;
    content: '';
    background: url(../img/movie.png);
    background-size: cover;
}

.reviews span::before {
    display: block;
    position: absolute;
    left: -25px;
    top: -5px;
    height: 24px;
    width: 24px;
    content: '';
    background: url(../img/reviews.png);
    background-size: cover;
}

.tv span::before {
    display: block;
    position: absolute;
    left: -25px;
    top: -5px;
    height: 24px;
    width: 24px;
    content: '';
    background: url(../img/tv.png);
    background-size: cover;
}

.actors span::before {
    display: block;
    position: absolute;
    left: -25px;
    top: -5px;
    height: 24px;
    width: 24px;
    content: '';
    background: url(../img/actors.png);
    background-size: cover;
}

.tv span::after,
.movie span::after {
    display: block;
    position: absolute;
    right: 5px;
    top: 4px;
    height: 12px;
    width: 12px;
    content: '';
    background: url(../img/arrow.png);
    background-size: cover;
}

.main-list .sub-list {
    display: none;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 155px;
    width: 220px;
    height: 100px;
    padding: 5px 0;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    @media screen and (max-width: 576px) {
        top: 30px;
        left: 50px;
    }
}

.main-list > li:hover .sub-list {
    display: block;
}

.sub-list li {
    width: 100%;
    height: 30px;  
    font-size: 15px;
    padding-left: 20px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sub-list li:hover {
   color: rgb(246, 221, 80);
}

/* поисковая строка */

.search {
    flex-grow: 1;
    margin-top: 15px;
}

.search__form {
    position: relative;
    display: flex;
    height: 45px;
}

.search__form-block {
    display: block;
    flex: 1;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid  rgb(246, 221, 80);
    border-radius: 3px 0 0 3px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-width: 200px;
}

.search__form-head {
    font-size: 20px;
    font-weight: 700;
}

.search__form-input {
    width: calc(100% - 40px);
    padding-top: 5px;
    padding-left: 10px;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.search-button {
    height: 100%;
    min-width: 45px;
    background-color: rgb(246, 221, 80);
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border-radius: 0 3px 3px 0; 
    &__text {
        margin: 0 10px;
        @media screen and (max-width: 576px) {
            display: none; 
        }
    }

    &__img {
        display: none;
        @media screen and (max-width: 576px) {
            display: block; 
            height: 30px;
            width: 30px;
            margin: 0 auto;
        }
    }
}

.search__cross {
    position: absolute;
    top: 0px;
    right: 0;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all ease .5s;
}

.search__cross span {
    height: 1px;
    display: block;
    float: left;
    transition: all ease .3s;
}

.search__cross span:nth-child(1) {
    background-color: rgb(145, 146,150);
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 70%;
    transition: all ease .5s;
}

.search__cross span:nth-child(2) {
    background-color: rgb(145, 146,150);
    transform: rotate(-45deg);
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    width: 70%;
    transition: all ease .5s;
}