.footer {
    height: 150px;
    width: 100%;
    background-color: rgb(145, 146,150);
    font-size: 14px;
    &__container {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 1200px) {
            width: 100vw;
        }
    }
    &__general-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 50px;
        padding-top: 20px;
        span {
            display: block;
            margin: 10px 0;
            color: black;
            a {
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    color: rgb(246, 221, 80); 
                }
            }
        }
    }
    &__contacts {
        flex: 1;
        padding-top: 20px;
        justify-content: center;
        span {
            display: block;
            width: 100px;
            margin: 0 auto;
            padding: 10px 0;
        }
    }
}

.social-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.social-links__link {
    display: flex;
    align-items: center;
    svg {
        margin-right: 5px;
    }
    cursor: pointer;
    &:hover {
        color: rgb(246, 221, 80); 
        fill: rgb(246, 221, 80);
    }  
}