<div class="slider-container">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="wrap">

                <div class="slider-item">
                    <div class="film-poster"></div>
                    <div class="film-description">
                        <h1 class="film-description__name">Довод (Tenet)</h1>
                        <h2 class="film-description__general-data">Боевик, 2020</h2>
                        <p class="film-description__overview">После теракта в киевском оперном театре агент ЦРУ объединяется с британской разведкой, чтобы противостоять русскому олигарху, который сколотил состояние на торговле оружием. Для этого агенты используют инверсию времени — технологию будущего, позволяющую времени идти вспять.</p>
                        <span class="film-description__producer">Режиссер: Кристофер Нолан</span>
                        <span class="film-description__country"> Страна: Великобритания, США</span>
                        <a 
                            class="film-description__btn"
                            href="https://www.youtube.com/watch?v=C6dZA-buNCw"
                            target="_blank"
                        >Смотреть трейлер</a>
                    </div>
                </div>
                <div class="slider-item">
                </div>
                <div class="slider-item">
                </div>
                <div class="slider-item">
                </div>

                <div class="prev">
                    <div class="arrow-left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M13.993 19.997L5.996 12l7.997-7.997 1.414 1.414L8.824 12l6.583 6.583z"></path>
                        </svg>
                    </div>
                </div>
                <div class="next">
                    <div class="arrow-right">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M10.007 4.003L18.004 12l-7.997 7.997-1.414-1.414L15.176 12 8.593 5.417z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="slider-dots">
                <div class="dot dot-active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

        </div>
    </div>
</div>