.slider-container {
    width: 100%;
    height: 400px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

// .slider-container:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     background-image: url(../img/polygon.svg);
// }

.slider-wrapper {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 992px) {
        max-width: 750px;
    }
}

.slider {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 6px 0 #34495e;
    position: relative;

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.wrap {
    position: relative;
    width: 100%;
    height: inherit;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(218, 218, 218, 0.7);
    cursor: pointer;
}

.arrow-left,
.arrow-right {
    width: 24px;
    height: 24px;
}

.prev {
    margin-left: 50px;
}

.next {
    right: 0;
    margin-right: 50px;
}

.slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    &:nth-child(2) {
        background-image: url(../../img/posters/lea.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  top center;
    }
    &:nth-child(3) {
        background-image: url(../../img/posters/godking.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &:nth-child(4) {
        background-image: url(../../img/posters/rayyajpg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  50% center;
    }
}


.film-description {
    width: 50%;
    height: 100%;
    margin-right: 0;
    background-color: black;
    padding: 20px 30px;

    &__name {
        font-size: 24px;
        font-weight: 400;
        color: rgb(255, 255, 255);
    }

    &__general-data {
        font-size: 12px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 5px 0;
    }

    &__overview {
        font-size: 12px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 10px 0;
    }

    &__producer {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 10px 0;
        @media screen and (max-width: 992px) {
            padding: 5px 0;
        }
    }

    &__country {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 10px 0;
        @media screen and (max-width: 992px) {
            padding: 5px 0;
        }
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(246, 221, 80);
        width: 175px;
        height: 45px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        padding: 0;
        margin-top: 10px;
        &:hover {
            box-shadow: 0 0 10px 0 #e3e5e7;
        }
    }
}

.film-poster {
    width: 50%;
    height: 100%;
    background-image: url(../img/posters/tenet.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-dots {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.slider-dots .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    background-color: #e9e4de;
    border-radius: 50%;
    display: inline-block;
}

.slider-dots .dot-active {
    background-color: #000;
    height: 12px;
    width: 12px;
}